
CampfireStreaming.xcodeproj/xcuserdata/Randall.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

CampfireStreaming.xcodeproj/project.xcworkspace/contents.xcworkspacedata

CampfireStreaming.xcodeproj/project.xcworkspace/xcuserdata/Randall.xcuserdatad/UserInterfaceState.xcuserstate

CampfireStreaming.xcodeproj/xcuserdata/Randall.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

CampfireStreaming.xcodeproj/xcuserdata/Randall.xcuserdatad/xcschemes/CampfireStreaming.xcscheme
